<div id="track-table-container" class="container" style="display:none;">
	<table id="track-table" class="table-bordered" style="display:table;">
		<thead>
			<tr>
				<th class="col-xs-1">Name</th>
				<th class="col-xs-1">MMSID</th>
				<th class="col-xs-1">Callsign</th>
				<th class="col-xs-1">Latitude</th>
				<th class="col-xs-1">Longitude</th>
				<th class="col-xs-1">Speed</th>
				<th class="col-xs-1">Heading</th>
				<th class="col-xs-1">Course</th>
				<th class="col-xs-1">Reported On</th>
				<th class="col-xs-1">Reported At</th>
			</tr>
		</thead>
		<tbody id="track-tbody"></tbody>
	</table>
</div>